@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

hr {
  color: black;
  width: 100%;
}

.app {
  background-color: #f8fbfc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

fieldset {
  margin: 24px 0;
  background-color: #f0f7f9;
  border: 3px solid #69b0bf;
  border-radius: 5px;
  color: #33565e;
  font-weight: 700;
}

.input-category {
  margin: 15px 0;
  width: 100%;

  h3 {
    margin-top: 0;
  }
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;

  label {
    font-weight: 700;
    font-size: 1.1rem;
  }

  input, textarea {
    padding: 6px;
    font-size: 1.1rem;
    border: 1px solid #888888;
    border-radius: 5px;

    &::placeholder {
      color: lightgrey;
    }
  }
}

.input-buttons {
  align-self: center;
  display: flex;
  justify-content: center;
  gap: 32px;
}

input[type="submit"] {
  width: 200px;
  background-color: #69b0bf;
  color: white;
  padding: 16px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.1rem;

  &:hover {
    background-color: #96c8d2;
    color: #ffffff;
  }

  &:active {
    background-color: #33565e;
    color: white;
  }
}

input[type="reset"] {
  width: 150px;
  background-color: #daebef;
  color: #555555;
  padding: 16px;
  border-radius: 5px;

  &:hover {
    background-color: #f0f7f9;
    color: #555555;
  }

  &:active {
    background-color: #96c8d2;
    color: white;
  }
}

textarea {
  resize: vertical;
}

// DISPLAY

.display-section {
  width: 50%;
  border: 1px solid black;
  margin: 32px;
  padding: 50px;
  background-color: white;

  hr {
    height:3px;
    background-color: #33565e;
    margin: 16px 0;
  }
}

.display-group {
  width: 100%;
}

.display_section-title {
  letter-spacing: 1px;
  margin-top: 50px;
  color: #33565e;
}

.display_personal-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:  "name phone"
                        "name email"
                        "current location";
  align-items: center;
  row-gap: 8px;
  margin-bottom: 24px;

  .pi-name {
    grid-area: name;
    font-weight: 700;
    font-size: 2rem;
    color: #33565e;
  }

  .pi-current-pos {
    grid-area: current;
    font-size: 1.2rem;
    color: #33565e;
  }

  .pi-phone {
    grid-area: phone;
  }

  .pi-email {
    grid-area: email;
  }

  .pi-location {
    grid-area: location;
  }
}

.display_si-group {
  display: flex;
  justify-content: space-between;

  .school {
    font-weight: 700;
  }
}

.display_wi-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:  "job place"
                        "tasks tasks";
  
  .wi-job {
    grid-area: job;
    font-weight: 700;
  }

  .wi-place {
    grid-area: place;
    justify-self: end;
  }

  .wi-tasks {
    grid-area: tasks;

    ul {
      padding: 0;
      margin: 6px 0;
    }

    li {
      list-style-type: none;
    }
  }

  .place {
    font-weight: 700;
  }
}